<!-- <div class="container mall-container" ng-controller="mallCtrl"> -->
<div class="container mall-container" style="padding-left:0;padding-right:0;">
    <div class="menu-area" style="padding-left:20px;margin-bottom:20px;">
        
        <button ui-sref="mall.gift" type="button" ui-sref-active="btn-primary" class="btn btn-default btn-gift" data-ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-refresh"></span> 商品</button>
        
        <button ui-sref="mall.coupon" type="button" ui-sref-active="btn-primary" class="btn btn-default btn-coupon" style="margin-right: 20px;" data-ui-sref-opts="{reload: true}"><span class="glyphicon glyphicon-refresh"></span> 优惠券</button>

    </div>
    <div ui-view></div>
</div>